// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCFSr9ELfhVb-lgOiJ0f5LEsJFf1mXcd1A",
  authDomain: "cloneweb-5dd91.firebaseapp.com",
  projectId: "cloneweb-5dd91",
  storageBucket: "cloneweb-5dd91.firebasestorage.app",
  messagingSenderId: "667635770976",
  appId: "1:667635770976:web:ecbf0274a924395821c505",
  measurementId: "G-S0BMMKN18V"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);